.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: flex-start; /* Align items to the top */
    height: 100vh; /* Full height of the viewport */
    text-align: center; /* Center text */
    padding-top: 20px; /* Add some padding from the top, if needed */
}

form {
    margin-bottom: 20px; /* Space between form and output */
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

h3 {
    margin: 10px 0;
}

button {
    padding: 10px 20px; /* Add some padding for the button */
    cursor: pointer; /* Change cursor to pointer */
}
