html, body {
    margin: 0; 
    height: 100%; 
    background-color: #d0f0c0; 
    font-family: Arial, sans-serif; 
}

.container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    height: 100vh; 
    text-align: center; 
    padding: 20px; 
    box-sizing: border-box; 
    background-color: #d0f0c0; 
}

form {
    margin-bottom: 20px;
    width: 100%; 
    max-width: 400px;
}

h1 {
    margin-bottom: 20px; 
    color: #333; 
}

h2 {
    margin-top: 20px; 
    color: #333;
}

h3 {
    margin: 10px 0;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="number"], input[type="file"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px;
    border: 2px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

input[type="number"]:focus, input[type="file"]:focus {
    outline: none;
    border-color: #7abaff; 
}

.container button {
    padding: 15px 20px; 
    width: 100%; 
    background-color: #6bb46b; 
    color: black; 
    border: none; 
    border-radius: 10px; 
    font-size: 18px;
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.container button:hover {
    background-color: #1c811f; 
    color: white; 
}

button {
    padding: 15px 20px; 
    width: 45%; 
    background-color: #8fbc8f; 
    color: black; 
    border: none; 
    border-radius: 10px; 
    font-size: 18px;
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

button:hover {
    background-color: #4caf50; 
    color: white; 
}



button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
}

button:active {
    transform: scale(0.98);
}



.flex-container {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    margin-top: 20px; 
    flex: 1; 
}

.clusters, .word-clouds {
    width: 30%; 
    flex: 1; 
}

.cluster-container, .word-cloud-container {
    border: 1px solid #ccc; 
    border-radius: 15px; 
    padding: 15px; 
    margin: 10px 0; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.word-cloud-image {
    max-width: 100%; 
    height: auto; 
}
